@font-face {
  font-family: 'Black Mango';
  src: url('/assets/fonts/BlackMango-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Black Mango', sans-serif;
}
